# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
test/
outputs/
simple_histograms/
poisson_tree_histograms/
overlap_tree_histograms/
overlap_poisson_histograms/
fractional_overlap_histograms/
fractional_overlaps/
combi_overlap_gamma/
combi_overlap_gamma_5e-2/
combi_overlap_gamma_section_0/
redraw_patterns_combi_N_5-80_o_g/
redraw_patterns_combi_N_o_g/
redraw_patterns_combi_o_g/
redraw_patterns_combi_N_10-20_o_g_rescale/
animation_N_15/
20201026_N50_redraw_patterns_combi_o_g/
20201026_redraw_patterns_combi_o_g/
20201028_N15_redraw_patterns_combi_o_g/
20201029_N20_redraw_patterns_combi_o_g/
20201029_N100_redraw_patterns_combi_o_g/
__pycache__/

/users/k1801311/asymmetric_random_walker/20201103_N20_ptrp_crossrefs_combi_o_g/
/users/k1801311/asymmetric_random_walker/20201104_ptrp_no_seed_combi_o_g/
/users/k1801311/asymmetric_random_walker/20201104_ptrp_no_seed_combi_o_g/
